.img__lineas:hover {
  border: 1px solid black;
  transform: scale(1.3);
}

.publicidad2, .publicidad1 {
  transition: all 4s;
}

.logo__RR__viejo, .img__lineas {
  transition: all 2s;
}

.logo__nav__container {
  width: 50%;
}

.logo__nav__img {
  width: 100%;
}

header {
  background-color: rgba(255, 187, 0, 0.897);
}

.nav-link:hover {
  color: #40c5fd !important;
}

.img__envios {
  width: 30rem;
}

.img__lineas {
  width: 30rem;
}
.choques {
  display: none;
}

.ahora12 {
  display: none;
}

.fondo__acero {
  background-image: url(../../Imagenes/fondo-acero.jpg);
  width: 100%;
  height: 16rem;
  color: black;
}

.fondos {
  background-color: #40c5fd;
}

.fondos1 {
  background-color: #40c5fd;
}

@media screen and (max-width: 1650px) {
  .fondos h4 {
    font-size: 18px;
  }
  .fondos p {
    font-size: 13px;
  }
}
@media screen and (max-width: 1200px) {
  .fondos h4 {
    font-size: 14px;
  }
  .fondos p {
    font-size: 9px;
  }
}
@media screen and (max-width: 1100px) {
  .img__lineas {
    width: 25rem;
  }
  .fondos h4 {
    font-size: 12px;
  }
  .fondos p {
    font-size: 9px;
  }
}
@media screen and (max-width: 1000px) {
  .fondos {
    display: none;
  }
  .choques {
    display: block;
    display: flex;
    width: 45rem;
    flex-direction: row;
  }
  .presupuesto {
    width: 10rem;
  }
}
@media screen and (max-width: 900px) {
  .img__lineas {
    width: 20rem;
  }
  .presupuesto {
    width: 8rem;
  }
}
@media screen and (max-width: 730px) {
  .presupuesto {
    width: 6rem;
  }
}
@media screen and (max-width: 630px) {
  .img__envios {
    width: 20rem;
  }
  .img__lineas {
    width: 15rem;
  }
  .choques {
    display: none;
  }
  .ahora12 {
    display: block;
  }
  .promo {
    width: 18rem;
  }
}
@media screen and (max-width: 500px) {
  .img__envios {
    width: 15rem;
  }
  .img__lineas {
    width: 10rem;
  }
}
@media screen and (max-width: 350px) {
  .promo {
    width: 13rem;
  }
}
.publicidad1 {
  width: 100rem;
}

.caja__texto1 {
  background-color: rgb(82, 82, 82);
  color: rgba(255, 187, 0, 0.897);
  padding: 20px;
  letter-spacing: 2px;
}
.caja__texto1:hover {
  border: 1px solid black;
  background-color: #40c5fd;
  color: black;
}

.logos__RR {
  width: 14rem;
}

.logo__RR__viejo:hover {
  transform: scale(2);
  opacity: 0;
}

.caja__texto2 {
  background-color: rgb(82, 82, 82);
  color: rgba(255, 187, 0, 0.897);
  padding: 20px;
  letter-spacing: 2px;
}
.caja__texto2:hover {
  border: 1px solid black;
  background-color: #40c5fd;
  color: black;
}

.publicidad2 {
  width: 100rem;
}

@media screen and (max-width: 580px) {
  .marcas {
    width: 13rem !important;
  }
}
@media screen and (max-width: 415px) {
  .marcas {
    width: 9rem !important;
  }
}
.contactos__logos {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}

.contactos {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.logo__insta {
  width: 2rem;
}

.logo__face {
  width: 4rem;
}

/*hacer que el body quede ocupe toda la pantalla*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: rgb(82, 82, 82);
  color: #40c5fd;
  margin-top: auto;
}

@media screen and (max-width: 581px) {
  .contactos {
    font-size: 10px;
  }
}
* {
  font-family: "Source Code Pro", monospace;
}

/*# sourceMappingURL=style.css.map */
